In [27]:
# importing Libary to Python Notebook
import pandas as pd
import datetime as dt
from pathlib import Path
import panel as pn
pn.extension('plotly')
import plotly.express as px
import hvplot.pandas
from bokeh.sampledata.iris import flowers
%matplotlib inline

In [2]:
# Defining Path for rba csv quarter and importing CSV, reading data frame using pandas
rba_csv = Path("rba quarter.csv")
rba_sorted_clean = pd.read_csv(rba_csv, index_col="Date")
# rba_sorted_clean.sort_index()in ascending form
rba_sorted_clean.sort_index(ascending = True, inplace = True)
rba_sorted_clean.head()

         Cash Rate Target
Date
2006-03              5.50
2006-06              5.75
2006-09              6.00
2006-12              6.25
2007-03              6.25

In [3]:
# Check for all nulls from rba data frame
print(rba_sorted_clean.isnull().sum())
print(rba_sorted_clean[rba_sorted_clean.isnull().any(axis = 1)])

Cash Rate Target    0
dtype: int64
Empty DataFrame
Columns: [Cash Rate Target]
Index: []

In [4]:
# removed all nulls from rba data frame
rba_sorted_clean.dropna(inplace=True)
rba_sorted_clean.isnull().sum()

Cash Rate Target    0
dtype: int64

In [5]:
# Print rba data frame to check
rba_sorted_clean.head()

         Cash Rate Target
Date
2006-03              5.50
2006-06              5.75
2006-09              6.00
2006-12              6.25
2007-03              6.25

In [8]:

# Renaming colums from "Cash Rate Target" to "rba"
rba_sorted_clean.rename(columns = {"Cash Rate Target":"rba"}, inplace = True)
# print data rba_sorted_clean 
rba_sorted_clean.head()

          rba
Date
2006-03  5.50
2006-06  5.75
2006-09  6.00
2006-12  6.25
2007-03  6.25

In [9]:
# Exporting clean rba data frame to new CSV file
rba_sorted_clean.to_csv('rba_sorted_clean.csv')

In [10]:
# Defining Path for gdp_csv and importing CSV, reading data frame using pandas library
gdp_csv = Path("gdp_per_capita.csv")
gdp_per_capita = pd.read_csv(gdp_csv, index_col="Date")
# gdp_per_capita.sort_index()in ascending form
gdp_per_capita.sort_index(ascending = True, inplace = True)
# Renaming colums from 'GDP per capita':'gdp_per_capita'
gdp_per_capita.rename(columns = {'GDP per capita':'gdp_per_capita'}, inplace = True)
gdp_per_capita.head()

         gdp_per_capita
Date
1973-09            1041
1973-12            1089
1974-03            1128
1974-06            1167
1974-09            1213

In [11]:
# Check for all nulls from  gdp_per_capita data frame
print(gdp_per_capita.isnull().sum())
print(gdp_per_capita[gdp_per_capita.isnull().any(axis =1)])

gdp_per_capita    0
dtype: int64
Empty DataFrame
Columns: [gdp_per_capita]
Index: []

In [12]:
# Check for all nulls from gdp_per_capita data frame
gdp_per_capita.isnull().sum()

gdp_per_capita    0
dtype: int64

In [13]:
# removed all nulls from gdp_per_capita data frame
gdp_per_capita.dropna(inplace=True)
gdp_per_capita.isnull().sum()

gdp_per_capita    0
dtype: int64

In [14]:
# using loc function to isolate get data from 2006-01 : 2022-05
gdp_sorted_clean = gdp_per_capita.loc['2006-01':'2022-05']
#print gdp data frame to check data output
gdp_sorted_clean.head()

         gdp_per_capita
Date
2006-03           12353
2006-06           12520
2006-09           12764
2006-12           13050
2007-03           13293

In [15]:
# Export cleaned data frame to new CSV 'gdp_sorted_clean.csv'
gdp_sorted_clean.to_csv('gdp_sorted_clean.csv')

In [30]:
# Defining Path for unemployment_rate_csv and importing CSV, reading data frame using pandas library
unemployment_rate_csv = Path("Unemployment rate.csv")
unemployment_rate = pd.read_csv(unemployment_rate_csv, index_col="Date")

# unemplyoment_rate.sort_index()in ascending form
unemployment_rate.sort_index(ascending = True, inplace = True)
# Renaming colums from 'unemployment rate':'unemployment_rate'
unemployment_rate.rename(columns = {'unemployment rate':'unemployment_rate'}, inplace = True)
unemployment_rate.head()

        unemployment_rate
Date
2001-03              6.5%
2001-06              6.9%
2001-09              6.8%
2001-12              6.9%
2002-03              6.4%

In [17]:
# Check for all nulls from unemployment_rate data frame
unemployment_rate.isnull().sum()

unemployment_rate    0
dtype: int64

In [18]:
# removed all nulls from unemployment_rate data frame
unemployment_rate.dropna(inplace=True)
unemployment_rate.isnull().sum()

unemployment_rate    0
dtype: int64

In [19]:
# using loc function to isolate data from 2006-01 : 2022-05
unemployment_rate_sorted_clean = unemployment_rate.loc['2006-01':'2022-05']
unemployment_rate_sorted_clean.head()

        unemployment_rate
Date
2006-03              4.9%
2006-06              4.8%
2006-09              4.7%
2006-12              4.6%
2007-03              4.5%

In [20]:
# Export cleaned data frame to new CSV 'unemployment_rate_sorted_clean.csv'
unemployment_rate_sorted_clean.to_csv('unemployment_rate_sorted_clean.csv')

In [21]:
# Print unemployment_rate_sorted_clean
unemployment_rate_sorted_clean.head()

        unemployment_rate
Date
2006-03              4.9%
2006-06              4.8%
2006-09              4.7%
2006-12              4.6%
2007-03              4.5%

In [22]:
# Defining Path for cpi_rate_csv and importing CSV, reading data frame using pandas library
cpi_rate_csv = Path("CPI.csv")
cpi_rate = pd.read_csv(cpi_rate_csv, index_col="Date")
# cpi_rate.sort_index()in ascending form
cpi_rate.sort_index(ascending = True, inplace = True)
cpi_rate.head()

         inflation_rate
Date
1922-06             2.8
1922-09             2.8
1922-12             2.7
1923-03             2.7
1923-06             2.8

In [23]:
# Check for all nulls from cpi_rate data frame
cpi_rate.isnull().sum()

inflation_rate    0
dtype: int64

In [24]:
# removed all nulls cpi_rate data frame
cpi_rate.dropna(inplace=True)
cpi_rate.isnull().sum()

inflation_rate    0
dtype: int64

In [25]:
# using loc function to isolate get data from 2006-01 : 2022-05
cpi_rate_sorted_clean = cpi_rate.loc['2006-01':'2022-05']
cpi_rate_sorted_clean.head()

         inflation_rate
Date
2006-03            84.5
2006-06            85.9
2006-09            86.7
2006-12            86.6
2007-03            86.6

In [26]:
# Export cleaned data frame to new CSV 'cpi_rate_sorted_clean.csv'
cpi_rate_sorted_clean.to_csv('cpi_rate_sorted_clean.csv')