In [11]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv
from datetime import datetime

In [12]:
# Set the file path
csv_path5 = Path("others_data/BTC_data.csv")

#set df
BTC_data_df = pd.read_csv(csv_path5, index_col="Exchange Date")

#test
BTC_data_df.head()

               Unnamed: 0          Bid
Exchange Date
10-May-2022             0  45,648.2457
09-May-2022             1  44,472.0857
06-May-2022             2  50,945.0911
05-May-2022             3  51,231.8009
04-May-2022             4  54,780.5892

In [13]:
BTC_data_df = BTC_data_df.drop(["Unnamed: 0"], axis=1)

In [14]:
BTC_data_df.head()

                       Bid
Exchange Date
10-May-2022    45,648.2457
09-May-2022    44,472.0857
06-May-2022    50,945.0911
05-May-2022    51,231.8009
04-May-2022    54,780.5892

In [18]:
BTC_data_df = datetime.strptime("Exchange Date", "%d/%m/%Y").strftime('%Y-%m-%d')
BTC_data_df.head()

ValueError: time data 'Exchange Date' does not match format '%d/%m/%Y'

In [ ]:
BTC_data_df = BTC_data_df.reset_index()
BTC_data_df.head()

In [ ]:
lastconnection = BTC_data_df.strptime("%d/%b/%Y").strftime('%Y-%m-%d')

In [ ]:
df_split = BTC_data_df["Exchange Date"].str.split('-', expand=True)
#
df_split['leftpad'] = df_split[1].str.pad(side='left', fillchar='0', width = 2)
#
df_split["YYYYMM"] = df_split[0] + df_split['leftpad']
#
df_split
#joined_ASX_sector_data_rows and YYYYMM
BTC_data_df_yyyymm = df_split["YYYYMM"]
BTC_data_df_yyyymm.head()

In [ ]:
rba_yyyymm = pd.concat([rba_sorted_clean_df, rba_sorted_clean_yyyymm], axis=1, join='inner')
rba_yyyymm.head()

In [ ]:
#Change data type to numeric
rba_yyyymm['YYYYMM'] = pd.to_numeric(rba_yyyymm['YYYYMM'], errors='coerce')
rba_yyyymm.head()

In [ ]:
rba_yyyymm.set_index("Effective date").head()

In [ ]:
rba_yyyymm.dtypes

In [ ]:
rba_yyyymm_months= rba_yyyymm.groupby('YYYYMM').mean()
rba_yyyymm_months.head()

In [ ]:
daily_returns_rba = rba_yyyymm_months.pct_change()
daily_returns_rba.head()