In [115]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [2]:
# Set the file path
csv_path = Path("data/joined_ASX_sector_data_rows1.csv")

#set df
joined_ASX_sector_data_rows_df = pd.read_csv(csv_path, index_col="Date")

#test
joined_ASX_sector_data_rows_df.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology
Date,,,,,,,,,,,
12/31/2015,6942.44,2026.07,4861.33,1995.41,8788.40,8009.88,1291.22,6296.10,19823.64,7025.18,809.50
12/30/2015,6927.01,2026.84,4858.99,2002.47,8870.64,8079.95,1313.87,6322.67,19953.72,7075.11,815.81
12/29/2015,6886.45,2000.18,4805.28,1985.36,8829.02,7969.35,1309.21,6249.31,19675.94,7064.18,808.49
12/28/2015,6817.50,1979.60,4765.90,1957.50,8736.80,7928.40,1291.00,6193.20,19527.20,7000.00,802.10
12/24/2015,6859.54,1974.40,4770.85,1948.82,8625.69,7963.86,1304.56,6164.66,19418.67,7075.47,797.60

In [3]:
#Change data type to numeric 
joined_ASX_sector_data_rows_df['Utilities'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Utilities'], errors='coerce')

In [4]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Telecommunication_Services'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Telecommunication_Services'], errors='coerce')

In [5]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Industrials'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Industrials'], errors='coerce')

In [6]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Consumer_Discretionary'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Consumer_Discretionary'], errors='coerce')

In [7]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Consumer_Staple'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Consumer_Staple'], errors='coerce')

In [8]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Energy'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Energy'], errors='coerce')

In [9]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Real Estate'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Real Estate'], errors='coerce')

In [10]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Financials'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Financials'], errors='coerce')

In [11]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Health_Care'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Health_Care'], errors='coerce')

In [12]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Materials'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Materials'], errors='coerce')

In [13]:
#Change data type to numeric
joined_ASX_sector_data_rows_df['Information_Technology'] = pd.to_numeric(joined_ASX_sector_data_rows_df['Information_Technology'], errors='coerce')

In [14]:
daily_returns = joined_ASX_sector_data_rows_df.pct_change()
daily_returns.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology
Date,,,,,,,,,,,
12/31/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12/30/2015,-0.002223,0.000380,-0.000481,0.003538,0.009358,0.008748,0.017542,0.004220,0.006562,0.007107,0.007795
12/29/2015,-0.005855,-0.013153,-0.011054,-0.008544,-0.004692,-0.013688,-0.003547,-0.011603,-0.013921,-0.001545,-0.008973
12/28/2015,-0.010012,-0.010289,-0.008195,-0.014033,-0.010445,-0.005138,-0.013909,-0.008979,-0.007559,-0.009085,-0.007904
12/24/2015,0.006166,-0.002627,0.001039,-0.004434,-0.012717,0.004473,0.010503,-0.004608,-0.005558,0.010781,-0.005610

In [15]:
joined_ASX_sector_data_rows_df = joined_ASX_sector_data_rows_df.replace(',','')
joined_ASX_sector_data_rows_df.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology
Date,,,,,,,,,,,
12/31/2015,6942.44,2026.07,4861.33,1995.41,8788.40,8009.88,1291.22,6296.10,19823.64,7025.18,809.50
12/30/2015,6927.01,2026.84,4858.99,2002.47,8870.64,8079.95,1313.87,6322.67,19953.72,7075.11,815.81
12/29/2015,6886.45,2000.18,4805.28,1985.36,8829.02,7969.35,1309.21,6249.31,19675.94,7064.18,808.49
12/28/2015,6817.50,1979.60,4765.90,1957.50,8736.80,7928.40,1291.00,6193.20,19527.20,7000.00,802.10
12/24/2015,6859.54,1974.40,4770.85,1948.82,8625.69,7963.86,1304.56,6164.66,19418.67,7075.47,797.60

In [16]:
joined_ASX_sector_data_rows_df = joined_ASX_sector_data_rows_df.reset_index()

In [17]:
#
df_split = joined_ASX_sector_data_rows_df["Date"].str.split('/', expand=True)
#
df_split['leftpad'] = df_split[0].str.pad(side='left', fillchar='0', width = 2)
#
df_split["YYYYMM"] = df_split[2] + df_split['leftpad']
#
df_split
#joined_ASX_sector_data_rows and YYYYMM
joined_ASX_sector_data_yyyymm = df_split["YYYYMM"]

In [18]:
joined_ASX_sector_data_rows = pd.concat([joined_ASX_sector_data_rows_df, joined_ASX_sector_data_yyyymm], axis=1)
joined_ASX_sector_data_rows.head()

,Date,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,YYYYMM
0,12/31/2015,6942.44,2026.07,4861.33,1995.41,8788.40,8009.88,1291.22,6296.10,19823.64,7025.18,809.50,201512
1,12/30/2015,6927.01,2026.84,4858.99,2002.47,8870.64,8079.95,1313.87,6322.67,19953.72,7075.11,815.81,201512
2,12/29/2015,6886.45,2000.18,4805.28,1985.36,8829.02,7969.35,1309.21,6249.31,19675.94,7064.18,808.49,201512
3,12/28/2015,6817.50,1979.60,4765.90,1957.50,8736.80,7928.40,1291.00,6193.20,19527.20,7000.00,802.10,201512
4,12/24/2015,6859.54,1974.40,4770.85,1948.82,8625.69,7963.86,1304.56,6164.66,19418.67,7075.47,797.60,201512

In [19]:
joined_ASX_sector_data_rows = joined_ASX_sector_data_rows.set_index('Date')
joined_ASX_sector_data_rows.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,YYYYMM
Date,,,,,,,,,,,,
12/31/2015,6942.44,2026.07,4861.33,1995.41,8788.40,8009.88,1291.22,6296.10,19823.64,7025.18,809.50,201512
12/30/2015,6927.01,2026.84,4858.99,2002.47,8870.64,8079.95,1313.87,6322.67,19953.72,7075.11,815.81,201512
12/29/2015,6886.45,2000.18,4805.28,1985.36,8829.02,7969.35,1309.21,6249.31,19675.94,7064.18,808.49,201512
12/28/2015,6817.50,1979.60,4765.90,1957.50,8736.80,7928.40,1291.00,6193.20,19527.20,7000.00,802.10,201512
12/24/2015,6859.54,1974.40,4770.85,1948.82,8625.69,7963.86,1304.56,6164.66,19418.67,7075.47,797.60,201512

In [20]:
#Change data type to numeric
joined_ASX_sector_data_rows['YYYYMM'] = pd.to_numeric(joined_ASX_sector_data_rows['YYYYMM'], errors='coerce')

In [21]:
joined_ASX_sector_data_rows.dtypes

Utilities                     float64
Telecommunication_Services    float64
Industrials                   float64
Consumer_Discretionary        float64
Consumer_Staple               float64
Energy                        float64
Real Estate                   float64
Financials                    float64
Health_Care                   float64
Materials                     float64
Information_Technology        float64
YYYYMM                          int64
dtype: object

In [22]:
joined_ASX_sector_data_rows_months= joined_ASX_sector_data_rows.groupby('YYYYMM').mean()
joined_ASX_sector_data_rows_months.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology
YYYYMM,,,,,,,,,,,
200601,5659.345000,1463.315000,5431.615000,2233.365000,5969.645000,11683.520000,1903.880000,5662.955000,6298.230000,9626.425000,448.790000
200602,5860.095000,1442.095000,5324.240000,2216.800000,5898.920000,11536.715000,1915.445000,5758.640000,6421.665000,9736.415000,445.270000
200603,5989.939130,1364.947826,5489.300000,2330.091304,6090.221739,11737.313043,1951.900000,5873.078261,6773.600000,9863.430435,453.765217
200604,6021.035294,1358.405882,5548.311765,2384.252941,6183.676471,12746.747059,1942.882353,6030.070588,6860.511765,11336.829412,499.247059
200605,5822.434783,1339.526087,5434.656522,2362.543478,6214.708696,12506.665217,1935.952174,5989.895652,6743.334783,11196.700000,497.595652

In [23]:
daily_returns_asx = joined_ASX_sector_data_rows_months.pct_change()
daily_returns_asx.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology
YYYYMM,,,,,,,,,,,
200601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200602,0.035472,-0.014501,-0.019769,-0.007417,-0.011847,-0.012565,0.006074,0.016897,0.019598,0.011426,-0.007843
200603,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079
200604,0.005191,-0.004793,0.010750,0.023244,0.015345,0.086002,-0.004620,0.026731,0.012831,0.149380,0.100232
200605,-0.032984,-0.013898,-0.020485,-0.009105,0.005018,-0.018835,-0.003567,-0.006662,-0.017080,-0.012361,-0.003308

In [24]:
# Set the file path
csv_path2 = Path("others_data/rba_sorted_clean.csv")

#set df
rba_sorted_clean_df = pd.read_csv(csv_path2, index_col="Effective date")

#test
rba_sorted_clean_df.head()

                Change  Cash Rate Target
Effective date
2006-02-08        0.00              5.50
2006-03-08        0.00              5.50
2006-04-05        0.00              5.50
2006-05-03        0.25              5.75
2006-06-07        0.00              5.75

In [25]:
rba_sorted_clean_df = rba_sorted_clean_df.reset_index()
rba_sorted_clean_df.head()

  Effective date  Change  Cash Rate Target
0     2006-02-08    0.00              5.50
1     2006-03-08    0.00              5.50
2     2006-04-05    0.00              5.50
3     2006-05-03    0.25              5.75
4     2006-06-07    0.00              5.75

In [26]:
df_split = rba_sorted_clean_df["Effective date"].str.split('-', expand=True)
#
df_split['leftpad'] = df_split[1].str.pad(side='left', fillchar='0', width = 2)
#
df_split["YYYYMM"] = df_split[0] + df_split['leftpad']
#
df_split
#joined_ASX_sector_data_rows and YYYYMM
rba_sorted_clean_yyyymm = df_split["YYYYMM"]
rba_sorted_clean_yyyymm.head()

0    200602
1    200603
2    200604
3    200605
4    200606
Name: YYYYMM, dtype: object

In [27]:
rba_yyyymm = pd.concat([rba_sorted_clean_df, rba_sorted_clean_yyyymm], axis=1, join='inner')
rba_yyyymm.head()

  Effective date  Change  Cash Rate Target  YYYYMM
0     2006-02-08    0.00              5.50  200602
1     2006-03-08    0.00              5.50  200603
2     2006-04-05    0.00              5.50  200604
3     2006-05-03    0.25              5.75  200605
4     2006-06-07    0.00              5.75  200606

In [28]:
#Change data type to numeric
rba_yyyymm['YYYYMM'] = pd.to_numeric(rba_yyyymm['YYYYMM'], errors='coerce')
rba_yyyymm.head()

  Effective date  Change  Cash Rate Target  YYYYMM
0     2006-02-08    0.00              5.50  200602
1     2006-03-08    0.00              5.50  200603
2     2006-04-05    0.00              5.50  200604
3     2006-05-03    0.25              5.75  200605
4     2006-06-07    0.00              5.75  200606

In [29]:
rba_yyyymm.set_index("Effective date").head()

                Change  Cash Rate Target  YYYYMM
Effective date
2006-02-08        0.00              5.50  200602
2006-03-08        0.00              5.50  200603
2006-04-05        0.00              5.50  200604
2006-05-03        0.25              5.75  200605
2006-06-07        0.00              5.75  200606

In [30]:
rba_yyyymm.dtypes

Effective date       object
Change              float64
Cash Rate Target    float64
YYYYMM                int64
dtype: object

In [31]:
rba_yyyymm_months= rba_yyyymm.groupby('YYYYMM').mean()
rba_yyyymm_months.head()

        Change  Cash Rate Target
YYYYMM
200602    0.00              5.50
200603    0.00              5.50
200604    0.00              5.50
200605    0.25              5.75
200606    0.00              5.75

In [32]:
daily_returns_rba = rba_yyyymm_months.pct_change()
daily_returns_rba.head()

        Change  Cash Rate Target
YYYYMM
200602     NaN               NaN
200603     NaN          0.000000
200604     NaN          0.000000
200605     inf          0.045455
200606    -1.0          0.000000

In [33]:
daily_returns_rba.rename(columns = {'GDP per capita':'GDP per capita RBA'}, inplace = True)
daily_returns_rba.head(10)

        Change  Cash Rate Target
YYYYMM
200602     NaN               NaN
200603     NaN          0.000000
200604     NaN          0.000000
200605     inf          0.045455
200606    -1.0          0.000000
200607     NaN          0.000000
200608     inf          0.043478
200609    -1.0          0.000000
200610     NaN          0.000000
200611     inf          0.041667

In [34]:
asx_rba_daily_returns = pd.concat([daily_returns_asx, daily_returns_rba], axis=1, join='inner')
asx_rba_daily_returns.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target
YYYYMM,,,,,,,,,,,,,
200602,0.035472,-0.014501,-0.019769,-0.007417,-0.011847,-0.012565,0.006074,0.016897,0.019598,0.011426,-0.007843,NaN,NaN
200603,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079,NaN,0.000000
200604,0.005191,-0.004793,0.010750,0.023244,0.015345,0.086002,-0.004620,0.026731,0.012831,0.149380,0.100232,NaN,0.000000
200605,-0.032984,-0.013898,-0.020485,-0.009105,0.005018,-0.018835,-0.003567,-0.006662,-0.017080,-0.012361,-0.003308,inf,0.045455
200606,-0.005846,-0.033141,-0.018578,-0.029833,-0.004024,-0.046630,0.022224,-0.030334,-0.054345,-0.083664,-0.031725,-1.0,0.000000

In [35]:
# Set the file path
csv_path3 = Path("others_data/gdp_sorted_clean.csv")

#set df
gdp_sorted_clean_df = pd.read_csv(csv_path3, index_col="Date")

#test
gdp_sorted_clean_df.head()

         GDP per capita
Date
2006-03           12353
2006-06           12520
2006-09           12764
2006-12           13050
2007-03           13293

In [36]:
gdp_sorted_clean_df = gdp_sorted_clean_df.reset_index()
gdp_sorted_clean_df.head()

      Date  GDP per capita
0  2006-03           12353
1  2006-06           12520
2  2006-09           12764
3  2006-12           13050
4  2007-03           13293

In [37]:
df_split = gdp_sorted_clean_df["Date"].str.split('-', expand=True)
#
df_split['leftpad'] = df_split[1].str.pad(side='left', fillchar='0', width = 2)
#
df_split["YYYYMM"] = df_split[0] + df_split['leftpad']
#
df_split
#joined_ASX_sector_data_rows and YYYYMM
gdp_sorted_clean_yyyymm = df_split["YYYYMM"]
gdp_sorted_clean_yyyymm.head()

0    200603
1    200606
2    200609
3    200612
4    200703
Name: YYYYMM, dtype: object

In [38]:
gdp_yyyymm = pd.concat([gdp_sorted_clean_df, gdp_sorted_clean_yyyymm], axis=1)
gdp_yyyymm.head()

      Date  GDP per capita  YYYYMM
0  2006-03           12353  200603
1  2006-06           12520  200606
2  2006-09           12764  200609
3  2006-12           13050  200612
4  2007-03           13293  200703

In [39]:
#Change data type to numeric
gdp_yyyymm['YYYYMM'] = pd.to_numeric(gdp_yyyymm['YYYYMM'], errors='coerce')
gdp_yyyymm.head()

      Date  GDP per capita  YYYYMM
0  2006-03           12353  200603
1  2006-06           12520  200606
2  2006-09           12764  200609
3  2006-12           13050  200612
4  2007-03           13293  200703

In [40]:
gdp_yyyymm.set_index("Date").head()

         GDP per capita  YYYYMM
Date
2006-03           12353  200603
2006-06           12520  200606
2006-09           12764  200609
2006-12           13050  200612
2007-03           13293  200703

In [41]:
gdp_yyyymm.dtypes

Date              object
GDP per capita     int64
YYYYMM             int64
dtype: object

In [42]:
gdp_yyyymm_months= gdp_yyyymm.groupby('YYYYMM').mean()
gdp_yyyymm.head()

      Date  GDP per capita  YYYYMM
0  2006-03           12353  200603
1  2006-06           12520  200606
2  2006-09           12764  200609
3  2006-12           13050  200612
4  2007-03           13293  200703

In [43]:
daily_returns_gdp = gdp_yyyymm_months.pct_change()
daily_returns_gdp.head()

        GDP per capita
YYYYMM
200603             NaN
200606        0.013519
200609        0.019489
200612        0.022407
200703        0.018621

In [44]:
asx_gdp_rba_daily_returns = pd.concat([asx_rba_daily_returns, daily_returns_gdp], axis=1, join='inner')
asx_gdp_rba_daily_returns.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target,GDP per capita
YYYYMM,,,,,,,,,,,,,,
200603,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079,NaN,0.0,NaN
200606,-0.005846,-0.033141,-0.018578,-0.029833,-0.004024,-0.046630,0.022224,-0.030334,-0.054345,-0.083664,-0.031725,-1.0,0.0,0.013519
200609,0.045432,-0.004321,0.036722,0.039031,0.080020,-0.079176,0.021325,0.019186,0.048120,-0.032836,-0.001968,-1.0,0.0,0.019489
200612,0.041306,0.067537,0.055672,0.033920,0.034344,0.019267,0.019944,0.011722,0.039174,-0.003526,0.054548,-1.0,0.0,0.022407
200703,-0.029482,-0.014974,-0.010265,-0.003703,0.041279,-0.005253,-0.053265,-0.026360,0.018257,-0.003071,-0.002073,NaN,0.0,0.018621

In [45]:
# Set the file path
csv_path4 = Path("data/Unemployment06_15_rate - Chart 1 - Unemployment rate, Australia, August 1966 to March 2022, Seasonally adjusted.csv")

#set df
Unemployment_rate_df = pd.read_csv(csv_path4, index_col="Date")

#test
Unemployment_rate_df.head()

            Unemployment Rate
Date
2006-01-08                5.2
2006-02-08                5.1
2006-03-08                4.9
2006-04-05                5.0
2006-05-03                4.8

In [46]:
Unemployment_rate_df = Unemployment_rate_df.reset_index()
Unemployment_rate_df.head()

         Date  Unemployment Rate
0  2006-01-08                5.2
1  2006-02-08                5.1
2  2006-03-08                4.9
3  2006-04-05                5.0
4  2006-05-03                4.8

In [47]:
df_split = Unemployment_rate_df["Date"].str.split('-', expand=True)
#
df_split['leftpad'] = df_split[1].str.pad(side='left', fillchar='0', width = 2)
#
df_split["YYYYMM"] = df_split[0] + df_split['leftpad']
#
df_split
#joined_ASX_sector_data_rows and YYYYMM
Unemployment_rate_yyyymm = df_split["YYYYMM"]
Unemployment_rate_yyyymm.head()

0    200601
1    200602
2    200603
3    200604
4    200605
Name: YYYYMM, dtype: object

In [48]:
Unemployment_yyyymm = pd.concat([Unemployment_rate_df, Unemployment_rate_yyyymm], axis=1)
Unemployment_yyyymm.head()

         Date  Unemployment Rate  YYYYMM
0  2006-01-08                5.2  200601
1  2006-02-08                5.1  200602
2  2006-03-08                4.9  200603
3  2006-04-05                5.0  200604
4  2006-05-03                4.8  200605

In [49]:
#Change data type to numeric
Unemployment_yyyymm['YYYYMM'] = pd.to_numeric(Unemployment_yyyymm['YYYYMM'], errors='coerce')
Unemployment_yyyymm.head()

         Date  Unemployment Rate  YYYYMM
0  2006-01-08                5.2  200601
1  2006-02-08                5.1  200602
2  2006-03-08                4.9  200603
3  2006-04-05                5.0  200604
4  2006-05-03                4.8  200605

In [50]:
Unemployment_yyyymm.set_index("Date").head()

            Unemployment Rate  YYYYMM
Date
2006-01-08                5.2  200601
2006-02-08                5.1  200602
2006-03-08                4.9  200603
2006-04-05                5.0  200604
2006-05-03                4.8  200605

In [51]:
Unemployment_yyyymm.dtypes

Date                  object
Unemployment Rate    float64
YYYYMM                 int64
dtype: object

In [52]:
Unemployment_yyyymm= Unemployment_yyyymm.groupby('YYYYMM').mean()
Unemployment_yyyymm.head()

        Unemployment Rate
YYYYMM
200601                5.2
200602                5.1
200603                4.9
200604                5.0
200605                4.8

In [53]:
daily_returns_unemploy = Unemployment_yyyymm.pct_change()
daily_returns_unemploy.head()

        Unemployment Rate
YYYYMM
200601                NaN
200602          -0.019231
200603          -0.039216
200604           0.020408
200605          -0.040000

In [54]:
asx_gdp_rba_unemploy_daily_returns = pd.concat([asx_rba_daily_returns, daily_returns_unemploy], axis=1, join='inner')
asx_gdp_rba_unemploy_daily_returns.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target,Unemployment Rate
YYYYMM,,,,,,,,,,,,,,
200602,0.035472,-0.014501,-0.019769,-0.007417,-0.011847,-0.012565,0.006074,0.016897,0.019598,0.011426,-0.007843,NaN,NaN,-0.019231
200603,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079,NaN,0.000000,-0.039216
200604,0.005191,-0.004793,0.010750,0.023244,0.015345,0.086002,-0.004620,0.026731,0.012831,0.149380,0.100232,NaN,0.000000,0.020408
200605,-0.032984,-0.013898,-0.020485,-0.009105,0.005018,-0.018835,-0.003567,-0.006662,-0.017080,-0.012361,-0.003308,inf,0.045455,-0.040000
200606,-0.005846,-0.033141,-0.018578,-0.029833,-0.004024,-0.046630,0.022224,-0.030334,-0.054345,-0.083664,-0.031725,-1.0,0.000000,0.000000

In [112]:
correlation = asx_rba_daily_returns.corr()
correlation

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target
Utilities,1.000000,0.408726,0.600868,0.559356,0.579787,0.366935,0.562463,0.647814,0.437515,0.418594,0.352949,-0.384512,0.038898
Telecommunication_Services,0.408726,1.000000,0.229063,0.261967,0.344449,0.159489,0.342120,0.349126,0.390107,0.281877,0.136622,-0.113449,-0.085908
Industrials,0.600868,0.229063,1.000000,0.858643,0.588196,0.521323,0.766880,0.804688,0.514019,0.570131,0.586725,-0.603030,0.284854
Consumer_Discretionary,0.559356,0.261967,0.858643,1.000000,0.679057,0.515725,0.750595,0.838810,0.517786,0.556744,0.635054,-0.668449,0.189657
Consumer_Staple,0.579787,0.344449,0.588196,0.679057,1.000000,0.485798,0.543875,0.655773,0.507764,0.511743,0.457612,-0.461066,0.073844
Energy,0.366935,0.159489,0.521323,0.515725,0.485798,1.000000,0.370056,0.520424,0.290500,0.785219,0.565856,-0.677055,0.139289
Real Estate,0.562463,0.342120,0.766880,0.750595,0.543875,0.370056,1.000000,0.783393,0.508840,0.412667,0.459802,-0.630200,0.282308
Financials,0.647814,0.349126,0.804688,0.838810,0.655773,0.520424,0.783393,1.000000,0.575514,0.521533,0.635398,-0.465626,0.138597
Health_Care,0.437515,0.390107,0.514019,0.517786,0.507764,0.290500,0.508840,0.575514,1.000000,0.336366,0.408977,-0.326742,-0.007886
Materials,0.418594,0.281877,0.570131,0.556744,0.511743,0.785219,0.412667,0.521533,0.336366,1.000000,0.510291,-0.605088,0.119065
Information_Technology,0.352949,0.136622,0.586725,0.635054,0.457612,0.565856,0.459802,0.635398,0.408977,0.510291,1.000000,-0.492782,0.124520
Change,-0.384512,-0.113449,-0.603030,-0.668449,-0.461066,-0.677055,-0.630200,-0.465626,-0.326742,-0.605088,-0.492782,1.000000,-0.419283
Cash Rate Target,0.038898,-0.085908,0.284854,0.189657,0.073844,0.139289,0.282308,0.138597,-0.007886,0.119065,0.124520,-0.419283,1.000000

In [113]:
correlation.hvplot.heatmap(
    x='columns', 
    y="index", 
    title='ASX Monthly index averages 2006 to 2015', 
    cmap=["#75968f", "#a5bab7", "#c9d9d3", "#e2e2e2", "#dfccce", "#ddb7b1", "#cc7878", "#933b41", "#550b1d"], 
    xaxis='top', 
    rot=70,
    width=1200, height=900).opts(
    toolbar=None, 
    fontsize={'title': 10, 'xticks': 8, 'yticks': 5}
)

:HeatMap   [columns,index]   (value)

In [57]:
asx_gdp_rba_unemploy_daily_returns.dtypes

Utilities                     float64
Telecommunication_Services    float64
Industrials                   float64
Consumer_Discretionary        float64
Consumer_Staple               float64
Energy                        float64
Real Estate                   float64
Financials                    float64
Health_Care                   float64
Materials                     float64
Information_Technology        float64
Change                        float64
Cash Rate Target              float64
Unemployment Rate             float64
dtype: object

In [58]:
asx_gdp_rba_unemploy_daily_returns = asx_gdp_rba_unemploy_daily_returns.reset_index()

In [59]:
asx_gdp_rba_unemploy_daily_returns.dtypes

YYYYMM                          int64
Utilities                     float64
Telecommunication_Services    float64
Industrials                   float64
Consumer_Discretionary        float64
Consumer_Staple               float64
Energy                        float64
Real Estate                   float64
Financials                    float64
Health_Care                   float64
Materials                     float64
Information_Technology        float64
Change                        float64
Cash Rate Target              float64
Unemployment Rate             float64
dtype: object

In [60]:
asx_gdp_rba_unemploy_daily_returns['YYYYMM'] = asx_gdp_rba_unemploy_daily_returns['YYYYMM'].astype(str)

In [61]:
df_split = asx_gdp_rba_unemploy_daily_returns["YYYYMM"].str.split('', expand=True)

df_split["YYYY"] = df_split[1] + df_split[2] + df_split[3] + df_split[4]
df_split

    0   1  2  3  4  5  6 7   YYYY
0       2  0  0  6  0  2     2006
1       2  0  0  6  0  3     2006
2       2  0  0  6  0  4     2006
3       2  0  0  6  0  5     2006
4       2  0  0  6  0  6     2006
..  .. .. .. .. .. .. .. ..   ...
105     2  0  1  5  0  8     2015
106     2  0  1  5  0  9     2015
107     2  0  1  5  1  0     2015
108     2  0  1  5  1  1     2015
109     2  0  1  5  1  2     2015

[110 rows x 9 columns]

In [62]:

#joined_ASX_sector_data_rows and YYYYMM
asx_gdp_rba_unemploy_daily_returns_yyyy = df_split["YYYY"]
asx_gdp_rba_unemploy_daily_returns_yyyy.head()

0    2006
1    2006
2    2006
3    2006
4    2006
Name: YYYY, dtype: object

In [63]:
asx_gdp_rba_unemploy_daily_returns

,YYYYMM,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target,Unemployment Rate
0,200602,0.035472,-0.014501,-0.019769,-0.007417,-0.011847,-0.012565,0.006074,0.016897,0.019598,0.011426,-0.007843,NaN,NaN,-0.019231
1,200603,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079,NaN,0.000000,-0.039216
2,200604,0.005191,-0.004793,0.010750,0.023244,0.015345,0.086002,-0.004620,0.026731,0.012831,0.149380,0.100232,NaN,0.000000,0.020408
3,200605,-0.032984,-0.013898,-0.020485,-0.009105,0.005018,-0.018835,-0.003567,-0.006662,-0.017080,-0.012361,-0.003308,inf,0.045455,-0.040000
4,200606,-0.005846,-0.033141,-0.018578,-0.029833,-0.004024,-0.046630,0.022224,-0.030334,-0.054345,-0.083664,-0.031725,-1.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,201508,0.019015,-0.026797,-0.021706,-0.003091,-0.006419,-0.102021,-0.005450,-0.047576,-0.003798,-0.045840,-0.083220,NaN,0.000000,-0.015625
106,201509,-0.028246,-0.076087,-0.018156,-0.057091,-0.050327,-0.116208,-0.032929,-0.061969,-0.043444,-0.035640,-0.039205,NaN,0.000000,-0.031746
107,201510,0.039484,-0.005786,0.041826,0.055447,0.053909,0.032975,0.034308,0.032042,0.001945,0.038226,0.035993,NaN,0.000000,0.049180
108,201511,0.025294,-0.032687,0.023167,0.012315,-0.050886,-0.030173,0.003707,-0.002472,0.065025,-0.086272,0.035402,NaN,0.000000,-0.031250
109,201512,-0.018317,0.014249,-0.020541,0.023126,0.017382,-0.088493,0.012327,0.013426,0.011147,-0.090283,0.046852,NaN,0.000000,-0.016129

In [105]:
asx_gdp_rba_unemploy_daily_yyyy = pd.concat([asx_gdp_rba_unemploy_daily_returns, asx_gdp_rba_unemploy_daily_returns_yyyy], axis=1, join='inner')
asx_gdp_rba_unemploy_daily_returns.head()

,YYYYMM,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target,Unemployment Rate
0,200602,0.035472,-0.014501,-0.019769,-0.007417,-0.011847,-0.012565,0.006074,0.016897,0.019598,0.011426,-0.007843,NaN,NaN,-0.019231
1,200603,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079,NaN,0.000000,-0.039216
2,200604,0.005191,-0.004793,0.010750,0.023244,0.015345,0.086002,-0.004620,0.026731,0.012831,0.149380,0.100232,NaN,0.000000,0.020408
3,200605,-0.032984,-0.013898,-0.020485,-0.009105,0.005018,-0.018835,-0.003567,-0.006662,-0.017080,-0.012361,-0.003308,inf,0.045455,-0.040000
4,200606,-0.005846,-0.033141,-0.018578,-0.029833,-0.004024,-0.046630,0.022224,-0.030334,-0.054345,-0.083664,-0.031725,-1.0,0.000000,0.000000

In [106]:
#Change data type to numeric
asx_gdp_rba_unemploy_daily_yyyy['YYYY'] = pd.to_numeric(asx_gdp_rba_unemploy_daily_yyyy['YYYY'], errors='coerce')
asx_gdp_rba_unemploy_daily_yyyy.head()

,YYYYMM,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target,Unemployment Rate,YYYY
0,200602,0.035472,-0.014501,-0.019769,-0.007417,-0.011847,-0.012565,0.006074,0.016897,0.019598,0.011426,-0.007843,NaN,NaN,-0.019231,2006
1,200603,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079,NaN,0.000000,-0.039216,2006
2,200604,0.005191,-0.004793,0.010750,0.023244,0.015345,0.086002,-0.004620,0.026731,0.012831,0.149380,0.100232,NaN,0.000000,0.020408,2006
3,200605,-0.032984,-0.013898,-0.020485,-0.009105,0.005018,-0.018835,-0.003567,-0.006662,-0.017080,-0.012361,-0.003308,inf,0.045455,-0.040000,2006
4,200606,-0.005846,-0.033141,-0.018578,-0.029833,-0.004024,-0.046630,0.022224,-0.030334,-0.054345,-0.083664,-0.031725,-1.0,0.000000,0.000000,2006

In [107]:
asx_gdp_rba_unemploy_daily_yyyy = asx_gdp_rba_unemploy_daily_yyyy.drop('YYYYMM', axis=1)

asx_gdp_rba_unemploy_daily_yyyy.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target,Unemployment Rate,YYYY
0,0.035472,-0.014501,-0.019769,-0.007417,-0.011847,-0.012565,0.006074,0.016897,0.019598,0.011426,-0.007843,NaN,NaN,-0.019231,2006
1,0.022157,-0.053497,0.031002,0.051106,0.032430,0.017388,0.019032,0.019872,0.054804,0.013045,0.019079,NaN,0.000000,-0.039216,2006
2,0.005191,-0.004793,0.010750,0.023244,0.015345,0.086002,-0.004620,0.026731,0.012831,0.149380,0.100232,NaN,0.000000,0.020408,2006
3,-0.032984,-0.013898,-0.020485,-0.009105,0.005018,-0.018835,-0.003567,-0.006662,-0.017080,-0.012361,-0.003308,inf,0.045455,-0.040000,2006
4,-0.005846,-0.033141,-0.018578,-0.029833,-0.004024,-0.046630,0.022224,-0.030334,-0.054345,-0.083664,-0.031725,-1.0,0.000000,0.000000,2006

In [99]:
asx_gdp_rba_unemploy_daily_yyyy= asx_gdp_rba_unemploy_daily_yyyy.groupby('YYYY').mean()
asx_gdp_rba_unemploy_daily_yyyy.head()

,Utilities,Telecommunication_Services,Industrials,Consumer_Discretionary,Consumer_Staple,Energy,Real Estate,Financials,Health_Care,Materials,Information_Technology,Change,Cash Rate Target,Unemployment Rate
YYYY,,,,,,,,,,,,,,
2006,0.016333,-0.001553,0.012372,0.019092,0.016537,0.001985,0.017036,0.013942,0.016336,0.010593,0.018820,NaN,0.013060,-0.010837
2007,-0.007316,0.009426,0.005529,-0.001169,0.019220,0.023412,-0.005017,0.002288,0.018321,0.036278,0.006020,NaN,0.007133,-0.003898
2008,-0.033483,-0.016707,-0.056456,-0.067030,-0.028439,-0.012525,-0.059255,-0.048633,-0.010141,-0.043213,-0.019259,NaN,-0.038188,-0.001276
2009,0.000860,-0.004742,0.022419,0.032406,0.020593,0.024649,0.004147,0.031310,0.001239,0.033365,0.042766,NaN,-0.007321,0.026714
2010,0.003406,-0.016283,-0.005332,-0.005933,0.001114,0.002093,-0.004127,-0.007132,0.004911,0.009668,-0.005533,NaN,0.022141,-0.011413
2011,0.003081,0.013066,-0.008071,-0.019312,-0.002572,-0.017001,-0.004529,-0.007845,-0.009576,-0.021090,-0.021508,NaN,-0.009835,0.002172
2012,0.010724,0.024784,0.000710,0.008766,0.015980,-0.006916,0.016452,0.015410,0.035219,-0.006223,0.016746,NaN,-0.030242,0.002130
2013,-0.000095,0.012958,0.005389,0.021682,0.006923,0.004003,0.000040,0.015729,0.016622,-0.006238,0.010361,NaN,-0.015840,0.006991
2014,0.008198,0.010491,0.007219,-0.001752,-0.007815,-0.015017,0.016265,0.005634,0.016529,-0.014372,0.003094,NaN,0.000000,0.003329
2015,0.009914,-0.007955,0.009384,0.007816,-0.008067,-0.028131,0.004190,-0.002181,0.009903,-0.019588,0.001887,NaN,-0.019192,0.004952

In [80]:
asx_gdp_rba_unemploy_daily_yyyy = asx_gdp_rba_unemploy_daily_yyyy.reset_index()

In [ ]:
Utilities	Telecommunication_Services	Industrials	Consumer_Discretionary	Consumer_Staple	Energy	Real Estate	Financials	Health_Care	Materials	Information_Technology	Change	Cash Rate Target	Unemployment Rate

In [116]:

asx_gdp_rba_unemploy_daily_returns.hvplot(x='YYYYMM', y=['Telecommunication_Services', 'Industrials', 'Consumer_Discretionary', 'Consumer_Staple', 'Energy',
                                                   'Real Estate', 'Financials', 'Health_Care','Materials', 'Information_Technology', 'Utilities', 'Cash Rate Target'], width=1000, height=600)

:NdOverlay   [Variable]
   :Curve   [YYYYMM]   (value)