In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
import datetime as dt

In [2]:
csv_path = Path("currency_data.csv")
currency_data = pd.read_csv(csv_path, header=0)
currency_data.tail()

     Exchange Date     USD     EUR     GBP    JPY
5212   17-May-2002  0.5525  0.6014  0.3765  70.23
5213   16-May-2002  0.5484  0.6012  0.3756  70.19
5214   15-May-2002  0.5488  0.6068  0.3777  70.34
5215   14-May-2002  0.5477  0.6001  0.3754  69.83
5216   13-May-2002  0.5471  0.5953  0.3717  69.61

In [5]:
# check datatypes using dtypes
currency_data.dtypes

Exchange Date     object
USD              float64
EUR              float64
GBP              float64
JPY              float64
dtype: object